* {
    margin: 0;
    padding: 0;
	font-family: "Dancing Script";
}

@media (max-width: 599px) {
    .mainbody-info,
    .map-container,
    .button-container {
        width: 100%;
    }
	
	
	header,.TopMessage,.menu-bar a,.mainbody-info,.container,footer{
		font-size: 1.5em;
	}
}

body {
	padding-left: 40px;
    background-image: url('../imgs/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: center; /* 可選，使背景圖固定*/ 
	z-index: -1;
}


h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

header{
	display: flex;
	flex-direction: column;
    align-items: center;
	color: #8B4513; /* 中間值的金色 */
    text-shadow: 2px 2px 6px rgba(139, 69, 19, 0.4); /* 使用中間值的金色陰影，並稍微減少透明度 */
}

header h2 {
	font-size: 1.8em;
    margin: 30px 0; /* 設置與上個元素之間的距離 */
}

.TopMessage {
    text-align: center;
    /* 设置 div 内文本水平居中 */
    height: auto;
}

.TopMessage h1 {
    margin: 10% 0;
    font-family: "Monsieur La Doulaise",cursive;
    /* 替换 "Your Preferred Font" 为你喜欢的字体 */
    font-size: 100px;
    /* 设置字体粗细 */
    display: inline-block;
    /* 使 h1 成为内联块元素 */
   
	color: #8B4513; /* 中間值的金色 */
    text-shadow: 2px 2px 6px rgba(139, 69, 19, 0.8); /* 使用中間值的金色陰影，並稍微減少透明度 */
    font-weight: normal; /* 設置文字為粗體 */

}

.menu-bar {
	width: 100%;
    height: 50px;
	display: flex;
    background-color: rgba(180, 180, 180, 0.5);
    color: white;
	justify-content:center;
    align-items:center;
}

.menu-bar a {
    font-size: 28px;
	margin:0 20px;
	text-decoration: none; /* 去除下底線 */
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* 添加文字陰影效果 */
	font-weight: bold;
    color: white;
}

.mainbody {
    display: block;
    /* 允许元素换行 */
    padding-top: 20px;
	margin-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.1);
}

.mainbody-info {
	display: flex;
	flex-direction: column;
    align-items: center;
    width:100%;
    padding: 20px;
	text-align: left;
    color: #8B4513; /* 中間值的金色 */
    text-shadow: 2px 2px 6px rgba(139, 69, 19, 0.2); /* 使用中間值的金色陰影，並稍微減少透明度 */
}

.map-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 20px;
}

.button-container {
    flex-basis: 100%;
    /* 占据整个宽度 */
    display: flex;
    justify-content: center;
    /* 让按钮居中显示 */
    align-items: flex-end;
    /* 将按钮对齐到底部 */
    margin-top: 20px;
}

button {
    height: 100px;
    width: 300px;
    font-size: 2em;
	font-weight: bold;
	color:white;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6); /* 添加文字陰影效果 */
}

.wedding-photo {
    width: 100%;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.1);
}

.container h2{
	width: 100%;
	color: #8B4513; /* 中間值的金色 */
    text-shadow: 2px 2px 6px rgba(139, 69, 19, 0.4); /* 使用中間值的金色陰影，並稍微減少透明度 */
	display: block;
	font-size: 1.8em;
}


footer {
	width: 100%;
    padding-top: 50px;
    height: 200px;
    background-color: rgba(167, 166, 165, 0.705);
    color: white;
    text-align: center;
}

.header-img {
    max-width: 90%;
    max-height: 90%;
    margin: 20px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7); /* 添加陰影效果 */
    transform: translateY(-10px); /* 上移一些距離，產生漂浮感 */
}